<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mongoose Store</title>
</head>

<body>
<nav> 
    <a href="/store/new">Add New Products</a>
</nav>
    <h1> Mongoose Store</h1>
    <div>
        <% products.forEach(product => { %>
         <%= product.name; %> <br />
            <a href="/store/<%=product._id; %>"> 
                <img src="<%= product.img; %>" alt=" <%= product.name %>">
            </a> <br />
             $<%=product.price; %> <br />
        
       <% }) %>
            </div>

</body>

</html>