<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head.ejs')%>
</head>

<body>
<nav> 
    <a href="/store/new">Add New Products</a>
</nav>
    <h1> Mongoose Store</h1>
    <div>
    <% products.forEach(product => { %>
        <h3> <%= product.name; %> | PRICE: $<%=product.price; %> </h3>
            <a href="/store/<%=product._id; %>"> 
                <img src="<%= product.img; %>" alt=" <%= product.name %>"> </a> 
        <% }) %>
    </div>
</body>

</html>