<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    </head>
    <body>
        <nav> 
            <a href="/store">Back to Mongoose Store</a>
     </nav>

        <h1>   <%= product.name %> </h1>
        <img src="<%=product.img%>" alt="<%= product.name %>">
        <p>Here are some <%= product.name %></p> <br />
        <p>Price: $<%= product.price %> </p>
<!--amount remaining goes here-->
        <!--Buy Button Goes Here-->
        <!-- <form action="/store/<%=product._id%>?_method=PUT" method="POST">
            <% for (let i = 0; i > product.length; i-- )%>

            <input type="submit" value="BUY">

        
        </form> -->
 <!-- Below is where the links to the Destroy and Edit routes go -->
        <a href="/store/<%=product._id%>/edit">Edit This Product</a>

        <form action="/store/<%= product._id %>?_method=DELETE" method="POST">
         <input type="submit" value="DELETE" />
        </form>
    </body>
</html>