<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs')%>
    </head>
    <body>
        <nav> 
            <a href="/store">Back to Mongoose Store</a>
        </nav>
        <h1>   <%= product.name %> </h1>
        <div class="unique">
            <img src="<%=product.img%>" alt="<%= product.name %>">
            <p>Here are some <%= product.name %></p> <br />
            <p>Price: $<%= product.price %> </p>

            <% if(product.qty > 0) { %>
            Quantity: <%=product.qty%> <br />
            <form action="/store/<%=product._id%>/buy" method="POST">
                <input type="submit" value="Buy" />
            </form>
            <% } else { %>
                OUT OF STOCK 
            <% } %>
        
            <a href="/store/<%=product._id%>/edit">Edit This Product</a>

             <form action="/store/<%= product._id %>?_method=DELETE" method="POST">
                <input type="submit" value="DELETE" />
            </form>
        </div>
    </body>
</html>